# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PWF Main.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\griff\Desktop\pickleball-with-friends\PWF Main\.idea\.idea.PWF Main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
